基本与决策树回归相似，主要是讲用来填补缺失值

In [3]:
from sklearn.datasets import load_boston
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer #填补缺失值常用
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
dataset = load_boston()
X_full,y_full=dataset.data,dataset.target
n_samples=X_full.shape[0]
n_features=X_full.shape[1]

In [5]:
# 先变成缺失值数据集，后续才好填补
# 首先确定缺失比例为百分之五十
rng = np.random.RandomState(0)
missing_rate=0.5
n_missing_samples = int(np.floor(n_samples*n_features*missing_rate))
n_missing_samples

3289

In [6]:
X_full.shape

(506, 13)

In [7]:
#缺失随机遍布在行和列中
missing_features=rng.randint(0,n_features,n_missing_samples)
#randint 在下限和上限之间取出n个整数
missing_samples = rng.randint(0,n_samples,n_missing_samples)
#但这种方法可能会重复，用下面的

#missing_samples=rng.choice(n_samples,n_missing_samples,replace=False) 不重复用这个

In [8]:
X_missing=X_full.copy()
Y_missing=y_full.copy()#标签不能缺失

In [9]:
X_missing[missing_samples,missing_features]=np.nan
X_missing=pd.DataFrame(X_missing)

In [10]:
X_missing

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,18.0,NaN,NaN,0.538,NaN,65.2,4.0900,1.0,296.0,NaN,NaN,4.98
1,0.02731,0.0,NaN,0.0,0.469,NaN,78.9,4.9671,2.0,NaN,NaN,396.90,9.14
2,0.02729,NaN,7.07,0.0,NaN,7.185,61.1,NaN,2.0,242.0,NaN,NaN,NaN
3,NaN,NaN,NaN,0.0,0.458,NaN,45.8,NaN,NaN,222.0,18.7,NaN,NaN
4,NaN,0.0,2.18,0.0,NaN,7.147,NaN,NaN,NaN,NaN,18.7,NaN,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,NaN,NaN,NaN,0.0,0.573,NaN,69.1,NaN,1.0,NaN,21.0,NaN,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,NaN,396.90,9.08
503,NaN,NaN,11.93,NaN,0.573,6.976,91.0,NaN,NaN,NaN,21.0,NaN,5.64
504,0.10959,0.0,11.93,NaN,0.573,NaN,89.3,NaN,1.0,NaN,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,NaN,1.0,NaN,NaN,396.90,7.88

In [11]:
# 使用均值填补
imp_mean=SimpleImputer(missing_values=np.nan,strategy='mean')
X_missing_mean=imp_mean.fit_transform(X_missing)

In [12]:
pd.DataFrame(X_missing_mean)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,3.627579,18.000000,11.163464,0.066007,0.538000,6.305921,65.2,4.090000,1.000000,296.000000,18.521192,352.741952,4.980000
1,0.027310,0.000000,11.163464,0.000000,0.469000,6.305921,78.9,4.967100,2.000000,405.935275,18.521192,396.900000,9.140000
2,0.027290,10.722951,7.070000,0.000000,0.564128,7.185000,61.1,3.856371,2.000000,242.000000,18.521192,352.741952,12.991767
3,3.627579,10.722951,11.163464,0.000000,0.458000,6.305921,45.8,3.856371,9.383871,222.000000,18.700000,352.741952,12.991767
4,3.627579,0.000000,2.180000,0.000000,0.564128,7.147000,67.4,3.856371,9.383871,405.935275,18.700000,352.741952,5.330000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,3.627579,10.722951,11.163464,0.000000,0.573000,6.305921,69.1,3.856371,1.000000,405.935275,21.000000,352.741952,9.670000
502,0.045270,0.000000,11.930000,0.000000,0.573000,6.120000,76.7,2.287500,1.000000,273.000000,18.521192,396.900000,9.080000
503,3.627579,10.722951,11.930000,0.066007,0.573000,6.976000,91.0,3.856371,9.383871,405.935275,21.000000,352.741952,5.640000
504,0.109590,0.000000,11.930000,0.066007,0.573000,6.305921,89.3,3.856371,1.000000,405.935275,21.000000,393.450000,6.480000
505,0.047410,0.000000,11.930000,0.000000,0.573000,6.030000,67.4,3.856371,1.000000,405.935275,18.521192,396.900000,7.880000

In [13]:
# 使用0填补
imp_zero=SimpleImputer(missing_values=np.nan,strategy='constant',fill_value=0)
X_missing_zero=imp_zero.fit_transform(X_missing)

In [14]:
pd.DataFrame(X_missing_zero)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00000,18.0,0.00,0.0,0.538,0.000,65.2,4.0900,1.0,296.0,0.0,0.00,4.98
1,0.02731,0.0,0.00,0.0,0.469,0.000,78.9,4.9671,2.0,0.0,0.0,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.000,7.185,61.1,0.0000,2.0,242.0,0.0,0.00,0.00
3,0.00000,0.0,0.00,0.0,0.458,0.000,45.8,0.0000,0.0,222.0,18.7,0.00,0.00
4,0.00000,0.0,2.18,0.0,0.000,7.147,0.0,0.0000,0.0,0.0,18.7,0.00,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.00000,0.0,0.00,0.0,0.573,0.000,69.1,0.0000,1.0,0.0,21.0,0.00,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,0.0,396.90,9.08
503,0.00000,0.0,11.93,0.0,0.573,6.976,91.0,0.0000,0.0,0.0,21.0,0.00,5.64
504,0.10959,0.0,11.93,0.0,0.573,0.000,89.3,0.0000,1.0,0.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,0.0,0.0000,1.0,0.0,0.0,396.90,7.88

用随机森林填补缺失值，思想：对于n个特征的数据来说，若特征T有缺失值，则将T当作标签，然后将原标签和其余n-1的特征组成新的特征矩阵，来预测
T标签，故T没有缺失的部分就是训练集
又因为，通常缺失的不止一列，故我们按照顺序，从缺失最少的开始填补，填补一个特征时，先将其他特征的缺失值用0代替，完成一次填补一次

In [15]:
X_missing_reg=X_missing.copy()
sortindex=X_missing_reg.isnull().sum(axis=0).sort_values().index

In [16]:
X_missing_reg.isnull().sum(axis=0).sort_values().index

Int64Index([6, 12, 8, 7, 9, 0, 2, 1, 5, 4, 3, 10, 11], dtype='int64')

In [17]:
for i in sortindex:
    df=X_missing_reg
    fillc=df.iloc[:,i]# 作为标签
    df = pd.concat([df.drop(i,axis="columns"),pd.DataFrame(y_full)],axis=1)
    #在新特征矩阵中，对缺失值用0填补
    df_zero=SimpleImputer(missing_values=np.nan,strategy='constant',fill_value=0).fit_transform(df)
    #找出训练集和测试集
    Ytrain=fillc[fillc.notnull()]
    Ytest=fillc[fillc.isnull()]
    Xtrain=df_zero[Ytrain.index,:]
    Xtest=df_zero[Ytest.index,:]
    rfc=RandomForestRegressor(n_estimators=100)
    rfc=rfc.fit(Xtrain,Ytrain)
    Ypredict=rfc.predict(Xtest)
    X_missing_reg.iloc[Ytest.index,i]=Ypredict

In [18]:
X_missing_reg.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.275061,18.000,7.2284,0.10,0.538000,6.74073,65.200,4.090000,1.00,296.00,17.963,389.3563,4.9800
1,0.027310,0.000,6.0293,0.00,0.469000,6.14486,78.900,4.967100,2.00,301.54,17.868,396.9000,9.1400
2,0.027290,14.685,7.0700,0.00,0.468746,7.18500,61.100,4.332461,2.00,242.00,17.886,390.0170,4.8477
3,0.093580,23.160,3.4245,0.00,0.458000,6.80256,45.800,4.645884,3.41,222.00,18.700,392.6378,5.8808
4,0.094204,0.000,2.1800,0.00,0.465844,7.14700,59.570,5.072401,3.85,245.09,18.700,391.6614,5.3300
5,0.079276,0.000,5.7939,0.00,0.462687,6.43000,58.700,6.062200,3.40,222.00,18.700,388.4296,5.2100
6,0.248925,12.500,8.4176,0.00,0.524000,6.06178,66.600,5.560500,4.17,304.69,15.200,392.3964,12.4300
7,0.541312,12.500,8.9741,0.57,0.524000,6.46070,96.100,5.950500,5.68,311.00,15.200,396.9000,19.1500
8,0.349771,13.255,7.8700,0.00,0.524000,5.63100,77.325,6.082100,5.00,311.00,17.648,370.3874,29.9300
9,0.170040,17.920,7.8700,0.00,0.524000,5.85622,63.334,6.592100,5.43,311.00,17.083,386.7100,13.8114
10,0.224890,12.500,8.1246,0.00,0.517770,5.81359,74.787,6.346700,5.00,311.00,15.200,392.5200,21.0098
11,0.117470,12.500,7.8700,0.00,0.524000,6.00900,82.900,6.226700,5.00,311.76,17.033,388.6850,15.0641
12,0.214505,1.565,9.7474,0.02,0.524000,5.88900,39.000,5.450900,3.85,311.00,15.200,390.5000,15.7100
13,0.629760,0.000,8.4949,0.00,0.524330,6.07987,61.800,3.954140,4.00,307.03,21.000,386.8800,10.7939
14,0.637960,0.000,8.1400,0.00,0.538000,6.13254,75.433,4.461900,4.00,316.97,21.000,380.0200,10.2600
15,0.627390,0.000,8.1400,0.00,0.538000,5.83400,63.621,4.498600,4.00,316.19,21.000,386.6298,8.4700
16,0.544200,0.325,8.1400,0.00,0.538000,5.93500,29.300,4.498600,4.14,307.00,21.000,386.8500,9.4593
17,0.551642,0.000,8.1400,0.00,0.538000,5.99000,78.982,4.257900,5.14,307.00,20.574,386.9210,14.6700
18,0.802710,1.050,8.1400,0.00,0.532100,5.45600,36.600,3.796500,4.00,298.66,21.000,288.9900,11.6900
19,0.725800,0.000,8.1400,0.00,0.538000,5.72700,72.860,3.796500,4.00,307.00,21.000,373.1538,16.5719

In [21]:
X=[X_full,X_missing_mean,X_missing_zero,X_missing_reg]
mse=[]
for x in X:
    estimator=RandomForestRegressor(random_state=0,n_estimators=100)
    scores=cross_val_score(estimator,x,y_full,scoring="neg_mean_squared_error",cv=5).mean()
    mse.append(scores*-1)

In [27]:
[*zip(mse,['X_full','X_missing_mean','X_missing_zero','X_missing_reg'])]

[(21.571667100368845, 'X_full'),
 (40.848037216676374, 'X_missing_mean'),
 (49.626793201980185, 'X_missing_zero'),
 (17.917782104872828, 'X_missing_reg')]